# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# Logs
logs/

# Output Files
output/

# Database
*.db

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store